.shapePanel {
    top: 5px;
    left: 5px;
	position: fixed;
	min-width: max-content;
    background: var(--primary);
    color: var(--primaryFontColor);
	border: 1px solid var(--primary);
	display: flex;
	gap: 15px;
	height: 40px;
	align-items: center;
	padding: 0 15px;
    border-radius: var(--radius);
}

.shape {
  transition: all 300ms;
  cursor: pointer;
  padding: 5px 10px;
}
.shape.active {
	color: var(--primary);
    background: var(--background);
    border-radius: 4px;
	font-weight: bold;
}