.shapePanel {
	position: fixed;
	width: min-content;
	min-width: 300px;
	background: #fff;
	display: flex;
	gap: 15px;
	height: 40px;
	align-items: center;
	padding: 0 15px;
}

.shape {
  transition: all 300ms;
  cursor: pointer;
}
.shape.active {
	color: blue;
	font-weight: bold;
	text-decoration: underline;
}